
<div style="width:50%" >
   <div align="center"> <div align="right">
  <a href="#/app_details/{{app_id}}">Go to application details</a>
</div>
    <div class="panel panel-default" align="left">
        <div class="panel-heading">
            <h3 class="panel-title">Application details</h3>
        </div>
        <div class="panel-body">
            <table >
                <col width="20%"/>
                <col width="80%"/>
                <tr>
                    <td>Name</td>
                    <td>{{app_details.name}}</td>
                </tr>
                
                <tr>
                    <td>MTrack app ID</td>
                    <td>{{app_details.app_id}}</td>
                </tr>

                
                <tr>
                <td></td><td></td>
                </tr>
                <tr>
                <td>Delete app</td><td><button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
            </table>

        </div>
    </div>
       </div>
</div>
