<div>
    <div class="jumbotron">
      <h1>This is the administration dashboard</h1>
      <p>Pick an application from the top dropdown to show detailed information or create a new one.</p>
      <p ><a class="btn btn-primary btn-lg" role="button" href="#/create_app">Create a new application</a></p>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Changelog</h3>
        </div>
        <div class="panel-body">
            <b>Version 0.1.2</b>
            <ul>
                <li>Added Twitter notification.</li>
                
            </ul>
            
            
            <b>Version 0.1.1</b>
            <ul>
                <li>Put a limit on lines shown for details in local, os and version</li>
                <li>Added colored square in list</li>
                <li>OS details now reports Android version names</li>
                
            </ul>
            
            
            <b>Version 0.1</b>
            <ul>
                <li>Added locale and os version stats for hbeat</li>
                <li>Several bug fixing</li>
            </ul>
            
            <b>Version 0.0.1</b>
            <ul>
                <li>Added changelog panel</li>
                <li>Added OS Type and version in exceptions</li>
                <li>Reversed order display for exceptions. Now newest are shown first.</li>
            </ul>
        </div>
    </div>   
</div>