<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User settings</h3>
        </div>
        <div class="panel-body">
            <form>
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td><input id="name" value="{{user.name}}"/></td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td><input id="company" value=""/></td>
                    </tr>    
                    <tr>
                        <td>Twitter Screen Name (for notifications)</td>
                        <td><input id="twittername" value=""/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>   
</div>
